@import url('https://fonts.googleapis.com/css?family=open+Sans&display=swap');

:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

body{
    font-family: 'open Sans', sans-serif;
}

.container {
    background-color: #fff;
    border:  5px;
    box-shadow:  0 2px 10px rgba(0, 0, 0, .3);
    width: 450px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

h2{
    color: tomato;
    text-transform: capitalize;
}

.form-contain {
    padding: 10px;
    position: relative;
}

.form-contain label{
    color: #777;
    display: block;
    text-align: justify;
    margin-bottom: 5px;
}

.form-contain input{
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-size: 15px;
}

.form-contain input:focus{
    border-color: #777;
    outline: none;
}

.form-contain.success{
    border-color:var(--success-color);
}

.form-contain.error{
    border-color:var(--error-color);
}

.form-contain small{
    color: var(--error-color);
    position: absolute;
    bottom: 0;
    left: 40px;
    visibility: hidden;
}

.form-contain.error small{
    visibility: visible;
}

.btn{
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 16px;
    margin: 10px auto;
    width: 80%;
}